<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault-Tec Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <header>
        <h1>Vault-Tec Secure Login System</h1>
        <nav>
        {% if current_user.is_authenticated %}
        <span>Hello, {{ current_user.username }}!</span>
        
        {% if current_user.role == 'Admin' %}
            <a href="{{ url_for('auth_bp.admin_dashboard') }}">Admin Dashboard</a>
        {% endif %}

        <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('auth_bp.login') }}">Login</a>
        <a href="{{ url_for('auth_bp.register') }}">Register</a>
        {% endif %}
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Vault-Tec Security</p>
    </footer>
</body>
</html>