{% extends "base.html" %}

{% block content %}
    <h2>User Login</h2>
    <form method="POST" action="">
        {{ form.csrf_token }} <div>
            {{ form.email.label }}
            {{ form.email() }}
            {% for error in form.email.errors %}
                <span style="color: #ff6961;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span style="color: #ff6961;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.recaptcha }} </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth_bp.register') }}">Register here</a></p>
{% endblock %}